* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url("../static/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'RobotoMedium';
    src: url("../static/fonts/Roboto-Medium.ttf");
}

body {
    font-family: 'RobotoRegular', sans-serif;
    font-size: 12px;
    color: #052C65;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 270px;
}

.login {
    .container__login {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        .login__content {
            max-width: 397px;
            width: 100%;
            .login__title {
                font-family: 'RobotoMedium', sans-serif;
                font-size: 40px;
                line-height: 47px;
                text-align: center;
                color: #052C65;
            }
            .login__form {
                input::placeholder {
                    font-size: 15px;
                    color: #6C757D;
                }
                button {
                    font-family: 'RobotoMedium', sans-serif;
                    font-size: 15px;
                }
            }
        }
    }
}

.signup {
    .container__signup {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        .signup__content {
            max-width: 397px;
            width: 100%;
            .signup__title {
                font-family: 'RobotoMedium', sans-serif;
                font-size: 40px;
                line-height: 47px;
                text-align: center;
                color: #052C65;
            }
            .signup__form {
                input::placeholder {
                    font-size: 15px;
                    color: #6C757D;
                }
                button {
                    font-family: 'RobotoMedium', sans-serif;
                    font-size: 15px;
                }
            }
        }
    }
}

.aside__menu {
    position: fixed;
    font-family: 'RobotoRegular', sans-serif;
    font-size: 14px;
    max-width: 219px;
    border-right: 1px solid #D9D9D9;

    .dropdown-menu {
        font-size: 14px;
    }
    .aside__up {
        .aside__first {
            border-bottom: 1px solid #D9D9D9;
            padding: 40px 0 20px 0;
        }
        .aside__second {
        }
    }

    .aside__down {
        .aside__third {
            span {
                color: #0D6EFD;
            }
        }
        .aside__fourth {
            border-top: 1px solid #D9D9D9;
        }
    }

    .nav-link {
        color: #052C65;
    }

    .btn {
        font-size: 14px;
        color: #052C65;
        padding-right: 20px;
    }
    /* Общий стиль для активных элементов */
    .nav-link.active,
    .btn.active,
    .dropdown-item.active {
        background-color: #007bff; /* Синий фон */
        color: white; /* Белый текст */
    }
    /* Общий стиль для hover неактивных элементов */
    .nav-link:not(.active):hover,
    .btn:not(.active):hover,
    .dropdown-item:not(.active):hover {
        background-color: #e3eef9; /* Голубой фон */
    }
    /* Иконка для активных элементов */
    .nav-link.active svg,
    .btn.active svg {
        fill: white; /* Белая иконка */
    }
    /* Анимация иконки для кнопки-аккордеона */
    .toggle-icon {
        transition: transform 0.3s ease;
    }

    .btn-toggle[aria-expanded="true"] .toggle-icon {
        transform: rotate(90deg);
    }
}

.main {
    padding: 100px 0 133px 0;
    .container {
        .main__title {
            font-family: 'RobotoMedium', sans-serif;
            font-size: 40px;
            line-height: 47px;
            margin-bottom: 60px;
        }
        .main__menu {
            margin-bottom: 140px;
            .btn {
                width: 100px;
                height: 37px;
            }
            .btn:active {
                background-color: #6C757D !important;
                border-color: #6C757D;
            }
            .btn:not(.active):hover {
                background-color: #c8cacb;
                border-color: #c8cacb;
            }
            .main__interval {
                margin-left: 20px;
                font-size: 16px;
                color: black;
                a {
                    color: #6C757D;
                    margin-left: 17px;
                    margin-right: 27px;
                }
            }
        }

        .main__info {
            margin-left: 24px;
            .income {
                padding-right: 84px;
            }
            .main__line {
                margin: 60px 0;
                width: 1px;
                height: 450px;
                background-color: #D9D9D9;
            }
            .expenses {
                padding-left: 84px;
            }
            .main__info-title {
                font-family: 'RobotoMedium', sans-serif;
                font-size: 28px;
                line-height: 33px;
                color: #290661;
                margin-bottom: 20px;
            }
            .main__info-legend {
                margin-bottom: 40px;
                i {
                    display: inline-block;
                    width: 35px;
                    height: 10px;
                    background-color: #DC3545;
                    margin-right: 10px;
                }
                /* Цвета для легенды */
                .red {
                    background-color: #DC3545;
                }

                .orange {
                    background-color: #FD7E14;
                }

                .yellow {
                    background-color: #FFC107;
                }

                .green {
                    background-color: #20C997;
                }

                .blue {
                    background-color: #0D6EFD;
                }
            }
        }
    }
}