<section class="main create-expenses">
    <div class="cont container__create-expenses">
        <a class="btn btn-primary btn-menu" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
           aria-controls="offcanvasExample">Меню</a>
        <div class="main__title common-incomes__title">Создание категории расходов</div>
        <form>
            <div class="common-incomes__input mb-4">
                <label for="expenseInput" class="form-label"></label>
                <input type="text" class="form-control" id="expenseInput" placeholder="Название...">
                <span id="expenseInput-error" class="error invalid-feedback">Введите категорию</span>
            </div>
            <div class="input-action create-expenses__action">
                <button id="expenseCreate" type="button" class="btn btn-success">Создать</button>
                <a href="/expenses" class="btn btn-danger">Отмена</a>
            </div>
        </form>
    </div>
</section>