<section class="main create-incomes">
    <div class="cont container__create-incomes">
        <a class="btn btn-primary btn-menu" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
           aria-controls="offcanvasExample">Меню</a>
        <div class="main__title common-incomes__title">Создание категории доходов</div>
        <form>
            <div class="common-incomes__input mb-4">
                <label for="incomeInput" class="form-label"></label>
                <input type="text" class="form-control" id="incomeInput" placeholder="Название...">
                <span id="incomeInput-error" class="error invalid-feedback">Введите категорию</span>
            </div>
            <div class="input-action create-incomes__action">
                <button id="incomeCreate" type="button" class="btn btn-success">Создать</button>
                <a href="/incomes" class="btn btn-danger">Отмена</a>
            </div>
        </form>
    </div>
</section>
