<section class="main edit-incomes">
    <div class="cont container__edit-incomes">
        <a class="btn btn-primary btn-menu" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
           aria-controls="offcanvasExample">Меню</a>
        <div class="main__title common-incomes__title">Редактирование категории доходов</div>
        <form>
            <div class="common-incomes__input mb-4">
                <label for="incomeInput" class="form-label"></label>
                <input type="text" class="form-control" id="incomeInput" placeholder="Название...">
                <span id="incomeInput-error" class="error invalid-feedback">Введите категорию</span>
            </div>
            <div class="input-action edit-incomes__action">
                <button id="incomeEdit" type="button" class="btn btn-success">Сохранить</button>
                <a href="/incomes" class="btn btn-danger">Отмена</a>
            </div>
        </form>
    </div>
</section>